.chat-container {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    height: 100vh;
}
  
.employee-list {
    width: 30%;
    padding: 20px;
    margin-right: 35px;
}

.employee-list h2 {
    color: #07255d;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.search-bar {
    margin-right: 20px;
    margin-bottom: 15px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.employee-list ul {
    padding: 0;
}

.employee-list li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.employee-list li:hover {
    background-color: #e5e5e5;
}

.employee-list li.selected {
    background-color: #e5e5e5;
}

.employee-list li.selected .employee-icon {
    background-color: #f9f9f9;
}

.employee-icon {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.employee-icon svg {
    color: #07255d;
}

.employee-details-p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.chat-window {
    flex: 4;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
    position: relative;
}

.chat-window-content {
    max-height: 85%;

    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.chat-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.chat-header h2 {
    color: #07255d;
    font-weight: 600;
    margin-bottom: 15px;
}

.message-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse; 
    padding: 0 10px;
}
  
.message-poruka {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    justify-content: flex-start;
 }

 .message-content {
    max-width: 70%;
    padding: 5px;
    font-size: 13px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFFFFF;
    color: #000000;
}
  
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
  
.message {
    max-width: 100%;
    padding: 5px;
    font-size: 13px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
  
.sent {
    background-color: #07255d;
    color: white;
    align-self: flex-end;
    border-radius: 20px;
}
  
.received {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 20px;
    align-self: flex-start;
}
  
.message p {
    padding-bottom: 2px;
    margin: 0;
}
  
.message-time {
    font-size: 9px;
    color: #a5a2a2;
    text-align: right !important;
}
  
.message-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
  
.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}
  
.message-input button {
    background-color: #07255d;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
  
.message-input button:hover {
    background-color: #064c92;
}

.no-chat-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.no-chat-selected p {
    margin-top: 10px;
    color: #777;
}


